.App-bg {
  background-image: url("../img/bg.png");
  background-size: 100% 100%;
}

.App-fill {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.StartScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Popup {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  width: 100vw;
  z-index: 2;
}