.player-choice-button {
    height: 160px;
    width: 160px;
    background: none;
    border: none;
}

.player-1-button {
    background-image: url("../img/player1.png");
    background-repeat: no-repeat;
}

.player-2-button {
    background-image: url("../img/player2.png");
    background-repeat: no-repeat;
}

.btn-no-bg {
    background: none;
}

.btn-default {
    background: none;
    background-image: url("../img/btn_default.png");
    background-size: 100% 100%;
    border: none;
    text-align: center;
    padding: 12px 15px 8px;
}

.btn-default:hover {
    color:white;
}

.btn-add-item {
    background: none;
    background-image: url("../img/add.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: none;
    height: 8vh;
    width: 8vh;
}

.btn-remove-item {
    background: none;
    background-image: url("../img/remove.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: none;
    height: 8vh;
    width: 8vh;
}

.popup-item-button {
    background: none;
    background-size: auto 100%;
    background-repeat: no-repeat;
    border: none;
    text-align: right;
}

.btn-item-dice {
    background-image: url("../img/item_dice.png");
}

.btn-item-consumable {
    background-image: url("../img/item_cons.png");
}

.btn-item-passive {
    background-image: url("../img/item_pass.png");
}

.btn-close {
    height: 16vw;
    width: 16vw;
    background: none;
    background-size: 100% 100%;
    background-image: url("../img/close.png");
    border: none;
}

.btn-close-popup {
    position: absolute;
    margin-left: 28vw;
}

.btn-dropdown {
    background: none;
    background-image: url("../img/dropdown.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: none;
    height: 8vh;
    width: 8vh;
}

.btn-dropdown-rotate-180 {
    transform: rotate(180deg);
}

.btn-select-enemy {
    min-height: 33%;
    margin-bottom: 2%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    border: 1px solid black;
    border-radius: 10px;
    text-align: right;
}

.btn-fight {
    height: 35vw;
    width: 35vw;
    background: none;
    background-image: url("../img/fight.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.btn-back {
    height: 35vw;
    width: 35vw;
    background: none;
    background-image: url("../img/back.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.btn-square {
    width: 15vh;
    background: none;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.btn-add-item-1 {
    background-image: url("../img/addItem1.png");
}

.btn-add-item-2 {
    background-image: url("../img/addItem2.png");
}

.btn-next {
    background-image: url("../img/next.png");
    background-size: auto 66%;
}