.player-choice-button {
    height: 160px;
    width: 160px;
    background: none;
    border: none;
}

.player-1-button {
    background-image: url("../img/player1.png");
    background-repeat: no-repeat;
}

.player-2-button {
    background-image: url("../img/player2.png");
    background-repeat: no-repeat;
}

.btn-default {
    background: none;
    background-image: url("../img/btn_default.png");
    background-size: 100% 100%;
    border: none;
    text-align: center;
    padding: 12px 15px 8px;
}

.btn-default:hover {
    color:white;
}

.btn-add-item {
    background: none;
    background-image: url("../img/add.png");
    background-size: 66% 100%;
    background-repeat: no-repeat;
    border: none;
    text-align: right;
}

.popup-item-button {
    background: none;
    background-size: 33% 100%;
    background-repeat: no-repeat;
    border: none;
    text-align: right;
}

.btn-item-dice {
    background-image: url("../img/item_dice.png");
}

.btn-item-consumable {
    background-image: url("../img/item_cons.png");
}

.btn-item-passive {
    background-image: url("../img/item_pass.png");
}