.flex-fill {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.flex-fill-center {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-row {
    display: flex;
}

.flex-row-spacing {
    display: flex;
    justify-content: space-between;
}

.flex-row .flex-column {
    flex-direction: column;
}

.flex-row-spacing .flex-column {
    flex-direction: column;
    margin: 0 2%;
}

.flex-row-spacing .flex-column-twos-center {
    display: flex;
    justify-content: center;
    width: 48%;
}

.flex-row-spacing .flex-column-twos {
    width: 48%;
}

.flex-row-spacing .flex-row-twos {
    display: flex;
    flex-direction: row;
    width: 48%;
}

.flex-column-spacing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2% 0;
}

.flex-center-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-center-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-grow {
    flex: 1;
}