.center-text {
    text-align: center;
}

div[class*="-container"] {
    background-image: url("../img/bg_grids.png");
    background-size: 100% 100%;
    padding: 2.5vh 10vw 2.5vh 10vw;
    overflow-y: scroll;
}

.dice-container {
    height: 18vh;
}

.items-container {
    height: 18vh;
}

.item {
    height: 6vh;
}

.add-items-container {
    width: 50vw;
    height: 50vh;
    padding: 4vh 5vw 4vh 5vw !important;
}