/* Start of text */

.center-text {
    text-align: center;
}

.text-orange {
    color: orange;
}

.text-blue {
    color: rgb(63, 136, 245);
}

.text-grey {
    color: grey;
}

/* End of text */

div[class*="-container"] {
    background-image: url("../img/bg_grids.png");
    background-size: 100% 100%;
    padding: 2.5vh 10vw 2.5vh 10vw;
}

.scroll-y {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.dice-container {
    height: 18vh;
}

.items-container {
    height: 18vh;
}

.throws-container {
    height: 12vh;
    display: flex;
}

.throws-sum-container {
    top: 8vh;
    right: 2vw;

    height: 5vh;
    width: 12vw;
    text-align: center;
    position: relative;
    padding: 1vh 2vw !important;
}

.item {
    height: 33%;
    background-size: 33% 100%;
    background-repeat: no-repeat;
    border: none;
    text-align: center;
}

.popup-item {
    height: 15%;
}

.die {
    height: 33%;
    background-size: 33% 100%;
    background-repeat: no-repeat;
    border: none;
    text-align: center;
}

.add-items-container {
    width: 50vw;
    height: 50vh;
    padding: 4vh 5vw 4vh 5vw !important;
}

.item-buttons-ctnr {
    display: flex;
    position: absolute;
    align-self: flex-end;
    margin-top: calc(18vh * 0.66);
}

.enemy-container {
    height: 18vh;
    width: 66vw;
    display: flex;
}

.enemy-dropdown-cntr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
}

.enemy-container .enemy-name {
    height: 20%;
}

.popup-enemy-dropdown {
    position: absolute;
    top: 25%;
    right: 10vw;
    height: 30vh;
    width: 40vw;
    background-image: url("../img/bg_grids.png");
    background-size: 100% 100%;
    padding: 3vh 8vw;
    z-index: 2;
    opacity: 0.9;
}

.popup-use-items {
    /* todo */
    position: absolute;
    top: 45%;
    right: 20vw;
    height: 30vh;
    width: 40vw;
    background-image: url("../img/bg_grids.png");
    background-size: 100% 100%;
    padding: 3vh 8vw;
    z-index: 2;
    opacity: 0.9;
}

.height-40pc {
    height: 40vh;
}

.enemy-info-sprite {
    height: 10vh;
    width: 10vh;
}

.throw-result {
    margin-right: 1em;
}